In [11]:
# import block
import json
from time import sleep
import requests
import lxml
from bs4 import BeautifulSoup
from selenium import webdriver
import sqlite3 as lite
import pandas as pd
from pymongo import MongoClient

# Vacation Homework

## Q1. Python Basic, Web Scraping, RDBMS, SQL

### Q1-1

`Ancient Egyptian multiplication`(one of two multiplication methods used by scribes, was a systematic method for multiplying two numbers that does not require the multiplication table, only the ability to multiply and divide by 2, and to add.) 을 Python 으로 구현하세요.

example output)

```
enter two numbers: 24 15
  24      15 struck
  12      30 struck
   6      60 struck
   3     120 keep
   1     240 keep
The result is 360
```

In [76]:
# Q1-1
def get_action_count(value:int) -> int:
    """Value 를 2 로 나누었을 때, 몫이 0 이 되기까지의 횟수를 찾는 함수.
    return count
    """
    count = 1
    while (True):
        value //= 2        
        count += 1
    
        if value == 1:
            break
            
    return count

a, b = map(int, input("enter two numbers: ").split())
count = get_action_count(a)
result = 0

text1 = "{0:>" + str(count) + "}"
text2 = "{0:>" + str(count) + "}"

# a 가 홀수라면 b 의 값을 더해주며, a 를 2로 더이상 나눌 수 없을 때까지 반복한다.
for _ in range(count):
    if a % 2 == 0:
        curr_status = "struck"
    else:
        curr_status = "keep"
        
    print(text1.format(a), "", text2.format(b), curr_status)
    
    if curr_status == "keep":
        result += b
        
    a //= 2
    b *= 2

print("The result is {}".format(result))

enter two numbers: 27 82
   27     82 keep
   13    164 keep
    6    328 struck
    3    656 keep
    1   1312 keep
The result is 2214

In [1]:
user_input = input("Enter Two Numbers: ")
[a, b] = [int(x) for x in user_input.split()]
kept_b = []

while a > 0:
    if a%2 == 1:
        status = "keep"
        kept_b.append(b)
    else:
        status = "struck"
        
    print("{a}{tab}{b}{tab}{status}".format(a=a, tab='\t', b=b, status=status))
    a //= 2
    b *= 2

result = sum([i for i in kept_b])
print("The result is {}".format(result))

Enter Two Numbers: 27 82
27	82	keep
13	164	keep
6	328	struck
3	656	keep
1	1312	keep
The result is 2214

### Q1-2

Twitter의 `#asiancup` 에 대한 트윗 검색결과(https://twitter.com/search?q=%23asiancup)를 sqlite 를 활용한 database에 적재하세요.
(10회 스크롤 했을 때의 트윗 본문 전체(이미지 제외))

`Requirements: selenium, sqlite3`

- **Caution** : https://twitter.com/robots.txt 의 지침을 따르세요.

```
# Every bot that might possibly read and respect this file.
User-agent: *
Allow: /*?lang=
Allow: /hashtag/*?src=
Allow: /search?q=%23
Disallow: /search/realtime
Disallow: /search/users
Disallow: /search/*/grid

Disallow: /*?
Disallow: /*/followers
Disallow: /*/following

Disallow: /account/not_my_account
Disallow: /account/deactivated
Disallow: /settings/deactivated

Disallow: /oauth
Disallow: /1/oauth

Disallow: /i/streams
Disallow: /i/hello

# Wait 1 second between successive requests. See ONBOARD-2698 for details.
Crawl-delay: 1
```

In [2]:
#Q1-2
ch_driver = webdriver.Chrome("C:\\Program Files (x86)\\chromedriver_win32\\chromedriver.exe")

ch_driver.get("https://twitter.com/search?q=%23asiancup")

# 스크롤 10번 아래로 넘기기
for _ in range(10):
    ch_driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    sleep(1)

# 스크랩핑 결과 dictionary 에 담기
twitter_search_list = ch_driver.find_element_by_id('stream-items-id')

li_list = twitter_search_list.find_elements_by_tag_name('li')
result = {}
index = 0

for li in li_list[:]:
    if li.get_attribute('data-item-type') == 'tweet':
        user_nickname = li.find_element_by_class_name('FullNameGroup').text.strip(' \n')
        user_name = li.find_element_by_class_name('username').text.strip(' \n')
        user_time_stamp = li.find_element_by_class_name('_timestamp').text.strip(' \n')
        user_content = li.find_element_by_class_name('js-tweet-text-container').find_element_by_tag_name('p').get_attribute('innerText').strip('\n\t').replace('\n', ' ').replace('"', "'")
        
        result[index] = dict((name, eval(name)) for name in ["user_nickname", "user_name", "user_time_stamp", "user_content"])
        index += 1

print(result[0])

{'user_nickname': 'korea dispatch', 'user_name': '@dispatchsns', 'user_time_stamp': '2월 2일', 'user_content': '그 이유는요?  #아시안컵 #ASIANCUP #일본 #일본대표팀 #라커룸 http://dispatch.co.kr/2004073\xa0'}

In [3]:
# 쿼리 문자열 만들기
query_string = ""

for k in result.keys():
#     if k >= 6 and k < 7:
    if k < len(result) - 1:
        query_string += '("{}", "{}", "{}", "{}"),'.format(result[k]['user_nickname'],
                                                  result[k]['user_name'],
                                                  result[k]['user_time_stamp'],
                                                  result[k]['user_content'])
    else:
        query_string += '("{}", "{}", "{}", "{}");'.format(result[k]['user_nickname'],
                                                  result[k]['user_name'],
                                                  result[k]['user_time_stamp'],
                                                  result[k]['user_content'])

# query_string = query_string[:len(query_string)-1] + ';'
# print(query_string)

In [5]:
try:
    conn = lite.connect('./products.db')
    
    # 테이블 드랍
    cursor = conn.cursor()

    sql = """
    drop table  Twitter;
    """

    cursor.execute(sql)
    cursor.close()

    # 테이블 생성
    cursor = conn.cursor()

    sql = """
    Create Table if not exists  Twitter
    (
        CONTENT_NUM INTEGER PRIMARY KEY AUTOINCREMENT,
        USER_NICKNAME NVARCHAR(20),
        USER_NAME CHAR(20),
        USER_TIME_STAMP CHAR(9),
        USER_CONTENT NVARCHAR(1000)
    );
    """

    cursor.execute(sql)
    cursor.close()
    
    # 데이터 삽입
    cursor = conn.cursor()

    sql = """
    INSERT INTO Twitter (USER_NICKNAME, USER_NAME, USER_TIME_STAMP, USER_CONTENT) VALUES 
    """ + query_string

    # print(sql)
    cursor.execute(sql)
    conn.commit()
except Exception as e:
    print("예외발생")
    conn.rollback()

In [7]:
# 데이터 확인
conn = lite.connect('./products.db')
cursor = conn.cursor()

sql = """
SELECT   *
FROM     Twitter--sqlite_master
;
"""

cursor = conn.cursor()
cursor.execute(sql)
print("============================")
print("         데이터 검증        ")
print(cursor.fetchall()[0])
print("============================")

============================
         데이터 검증
(1, 'korea dispatch', '@dispatchsns', '2월 2일', '그 이유는요?  #아시안컵 #ASIANCUP #일본 #일본대표팀 #라커룸 http://dispatch.co.kr/2004073\xa0')
============================

## Q2. SQL, RDBMS

`products.db` 에 대하여 다음 문제를 해결하세요.

### Q2-1

`products.db`에 존재하는 모든 `table`과 `column`을 조회하세요.

In [ ]:
#Q2-1

In [86]:
conn = lite.connect('./products.db')
cursor = conn.cursor()

sql = """
SELECT   *
FROM     sqlite_master
;
"""

cursor = db.cursor()
cursor.execute(sql)
cursor.fetchall()

[('table',
  'Categories',
  'Categories',
  2,
  'CREATE TABLE Categories(\n  "CategoryID" TEXT,\n  "CategoryName" TEXT,\n  "Description" TEXT\n)'),
 ('table',
  'Customers',
  'Customers',
  3,
  'CREATE TABLE Customers(\n  "CustomerID" TEXT,\n  "CustomerName" TEXT,\n  "ContactName" TEXT,\n  "Address" TEXT,\n  "City" TEXT,\n  "PostalCode" TEXT,\n  "Country" TEXT\n)'),
 ('table',
  'Employees',
  'Employees',
  6,
  'CREATE TABLE Employees(\n  "EmployeeID" TEXT,\n  "LastName" TEXT,\n  "FirstName" TEXT,\n  "BirthDate" TEXT,\n  "Photo" TEXT,\n  "Notes" TEXT\n)'),
 ('table',
  'Shippers',
  'Shippers',
  15,
  'CREATE TABLE Shippers(\n  "ShipperID" TEXT,\n  "ShipperName" TEXT,\n  "Phone" TEXT\n)'),
 ('table',
  'Suppliers',
  'Suppliers',
  16,
  'CREATE TABLE Suppliers(\n  "SupplierID" TEXT,\n  "SupplierName" TEXT,\n  "ContactName" TEXT,\n  "Address" TEXT,\n  "City" TEXT,\n  "PostalCode" TEXT,\n  "Country" TEXT,\n  "Phone" TEXT\n)'),
 ('table',
  'Orders',
  'Orders',
  11,
  'CREATE TABLE Orders(\nOrderID integer,\nCustomerID integer,\nEmployeeID integer,\nOrderDate date,\nShipperID integer)'),
 ('table',
  'OrderDetails',
  'OrderDetails',
  7,
  'CREATE TABLE OrderDetails(\nOrderDetailID integer,\nOrderID integer,\nProductID integer,\nQuantity integer)'),
 ('table',
  'Products',
  'Products',
  14,
  'CREATE TABLE Products(\nProductID integer,\nProductName text,\nSupplierID integer,\nCategoryID integer,\nUnit text,\nPrice integer\n)'),
 ('table',
  'sqlite_sequence',
  'sqlite_sequence',
  17,
  'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table',
  'Twitter',
  'Twitter',
  8,
  'CREATE TABLE Twitter\n    (\n        CONTENT_NUM INTEGER PRIMARY KEY AUTOINCREMENT,\n        USER_NICKNAME NVARCHAR(20),\n        USER_NAME CHAR(20),\n        USER_TIME_STAMP CHAR(9),\n        USER_CONTENT NVARCHAR(1000)\n    )')]

### Q2-2

`Customer`의 `Country`가 "Germany" 이거나 `City`가 "London" 인 모든 주문의 주문양(`Quantity`)의 합을 조회하세요.

In [94]:
#Q2-2
conn = lite.connect('./products.db')
cursor = conn.cursor()

sql = """
SELECT SUM(B.Quantity)
  FROM Orders A
 INNER JOIN OrderDetails B ON B.OrderID = A.OrderID
 WHERE 1 = 1
   AND CustomerID IN (
    SELECT CustomerID
      FROM Customers
     WHERE 1 = 1
       AND (Country = 'Germany' OR City = 'London')
   )
;
"""

cursor = db.cursor()
cursor.execute(sql)
cursor.fetchall()

[(2633,)]

### Q2-3

월별 총 주문 횟수와 총 주문 갯수, 평균 주문 금액(소수점 2째 자리에서 반올림)을 조회하세요.
(총 주문 횟수를 기준으로 내림차순 정렬)

In [119]:
#Q2-3
conn = lite.connect('./products.db')
cursor = conn.cursor()

sql = """
SELECT ORDER_MONTH
       --,ORDER_COUNT,ORDER_QTY,PRODUCT_PRICE
       ,COUNT(ORDER_COUNT) AS TOTAL_ORDER_CNT
       ,SUM(ORDER_QTY) AS TOTAL_ORDER_QTY
       ,ROUND(AVG(PRODUCT_PRICE), 2) AS PRODUCT_AVG_PRICE
  FROM
  (
    SELECT SUBSTR(A.OrderDate, 6, 2) AS ORDER_MONTH
           , A.OrderID AS ORDER_COUNT
           , B.Quantity AS ORDER_QTY
           , B.Quantity * C.Price AS PRODUCT_PRICE
      FROM Orders A
     INNER JOIN OrderDetails B ON B.OrderID = A.OrderID
     INNER JOIN Products C ON C.ProductID = B.ProductID
     WHERE 1 = 1
  )
 GROUP BY ORDER_MONTH
 ORDER BY TOTAL_ORDER_CNT DESC
;
"""

cursor = db.cursor()
cursor.execute(sql)
cursor.fetchall()

[('01', 85, 2401, 981.18),
 ('12', 81, 2200, 786.68),
 ('10', 73, 1738, 705.87),
 ('08', 69, 1322, 482.4),
 ('11', 66, 1735, 941.88),
 ('07', 59, 1462, 640.34),
 ('09', 57, 1124, 606.41),
 ('02', 28, 761, 713.53)]

## Q3. noSQL, json, Web Scraping

### Q3-1

다음 금융 시가총액 페이지(http://finance.daum.net/domestic/market_cap) 에서 KOSPI200 상위 30개 종목에 대하여,
뉴스공시 탭의 종목뉴스 최신 100개를 가져와 mLab의 새로운 Collection을 생성하여 저장한 뒤, 모든 뉴스의 `title`, `keywords`, `createdAt` 값을 표현하세요.

`Requirements: requests, json, pymongo`

hint1: 
```python
headers = {"Host":"finance.daum.net"}
requests.get(url, headers=headers)
```

hint2: `some_collection.find(query, {'_id':0,'title':1,})`

<img src="./daum-finance-news.png" width="300">

In [15]:
#Q3-1
# KOSPI200 상위 30개 종목의 코드ID 찾아오기
url = 'http://finance.daum.net/api/trend/market_capitalization?page=1&perPage=30&fieldName=marketCap&order=desc&market=KOSPI&pagination=true'

headers = {
    "Host": "finance.daum.net",
    "Connection": "keep-alive",
    "Accept": "application/json, text/javascript, */*; q=0.01",
    "X-Requested-With": "XMLHttpRequest",
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36",
    "Referer": "http://finance.daum.net/domestic/market_cap",
    "Accept-Encoding": "gzip, deflate",
    "Accept-Language": "ko-KR,ko;q=0.9,en-US;q=0.8,en;q=0.7",
    "Cookie": "webid=7454ef8e5cbd43f2982fecb0c2962724; _ga=GA1.2.436371555.1549377563; _gid=GA1.2.5011209.1549377563; recentMenus=[{%22destination%22:%22news%22%2C%22title%22:%22%EB%89%B4%EC%8A%A4%C2%B7%EA%B3%B5%EC%8B%9C%22}]; KAKAO_STOCK_RECENT=[%22A000660%22%2C%22A005930%22]; PREMIUMCHK=""; PREMIUM=""; TIARA=ilUNkVaZ9j9cWB4_MrvBHTDauze5y85S59jCJ9Fvm-nvTzimbPFEWdcUT37wMKoWA57F5lZLQNis6U2MdNei-KxRS6ZzIeBO; webid_sync=1549378574331; _gat_gtag_UA_128578811_1=1; _dfs=bTFWTFRvQUlNTXNpckJ2blpTNXZEL1RHRGxLQ1o2NWo4eFFzTlRpZ25Ib3JEQ2p5ZEVkdzd1NzMxVitSMG5peTdEczVLN1Qvak9WVFdkbnlYdG5uSFE9PS0tbTFZVUtWSmRrOW15MXZZOGRRaTlUUT09--399a61113d5d64002a5a84501d0e77f2cefd07ef",
    "If-None-Match": 'W/"9d3f64f6ee97e66d4a16ed6076cac047"',
}

response = requests.get(url, headers=headers)
# print(response.text)

kospi_result = response.json()['data']
top_thirty_kospi_code_list = [kospi_result[i]['symbolCode'] for i in range(len(kospi_result))]

top_thirty_kospi_code_list

['A005930',
 'A000660',
 'A005935',
 'A051910',
 'A005380',
 'A068270',
 'A207940',
 'A005490',
 'A028260',
 'A015760',
 'A012330',
 'A017670',
 'A035420',
 'A055550',
 'A105560',
 'A034730',
 'A051900',
 'A032830',
 'A018260',
 'A096770',
 'A006400',
 'A000270',
 'A000810',
 'A033780',
 'A003550',
 'A086790',
 'A066570',
 'A010950',
 'A251270',
 'A316140']

In [16]:
# 뉴스 공시 정보를 담아두기 위한 준비
result = []

In [19]:
# TOP 200 의 30개의 뉴스 공시 정보 긁어오기
url = "http://finance.daum.net/content/news?page=1&perPage=100&category=economy&searchType=all&pagination=true&keyword="

# for kospi_code in top_thirty_kospi_code_list[:3]:
# for kospi_code in top_thirty_kospi_code_list[3:5]:
# for kospi_code in top_thirty_kospi_code_list[5:7]:
# for kospi_code in top_thirty_kospi_code_list[7:9]:
for kospi_code in top_thirty_kospi_code_list[9:10]:

# 아래 소스를 바로 긁어버리면 이상하게 중간에 못가져옴 그래서 단위로 쪼개서 담아둠
# for kospi_code in top_thirty_kospi_code_list[:]:
    # url = "http://finance.daum.net/quotes/A005930#news/stock"
    url = url + kospi_code
    
    headers = {
        "Host": "finance.daum.net",
        "Connection": "keep-alive",
        "Accept": "application/json, text/javascript, */*; q=0.01",
        "X-Requested-With": "XMLHttpRequest",
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36",
        "Referer": "http://finance.daum.net/quotes/" + kospi_code,
        "Accept-Encoding": "gzip, deflate",
        "Accept-Language": "ko-KR,ko;q=0.9,en-US;q=0.8,en;q=0.7",
        "Cookie": "webid=7454ef8e5cbd43f2982fecb0c2962724; _ga=GA1.2.436371555.1549377563; KAKAO_STOCK_RECENT=[%22A005930%22%2C%22A000660%22]; _gid=GA1.2.1894754651.1549547822; recentMenus=[{%22destination%22:%22news%22%2C%22title%22:%22%EB%89%B4%EC%8A%A4%C2%B7%EA%B3%B5%EC%8B%9C%22}]; TIARA=vS1N5wt96BfJVokSVCYPhYCJTvIm5X_ElkfR4ZttHgY.YzuSuLikdubZ45gT1u6oXhjAN9UktEkwbomjGKjzyZ5TnNa2S1Rr; webid_sync=1549548875405; _gat_gtag_UA_128578811_1=1; _dfs=L202NThObEJsUXNuczBCSWZ6UXpLckgwT1dZdW9ld2g3bktLcWEyZXFXSTNPR1VncXdsZHlxd0tldnZpY1RyMllYbytjTGFmMnFsc2IyWjhxZ3V4UUE9PS0tU0UyUU9DNXliT3VxQjFTa0tnVEl2dz09--fd7e2c28e5102b835f1aa67dba8e81d11dc1a9db",
        "If-None-Match": 'W/"8574b010bb86ac31a2cc130b2cb68d74"',
    }
    
    response = requests.get(url, headers=headers)
#     print(response.json())
    
    news_result = response.json()['data']
    print(kospi_code, len(news_result))
    
    for i in range(len(news_result)):
        code = kospi_code
        newsId = news_result[i]['newsId']
        title = news_result[i]['title']
        keywords = news_result[i]['keywords']
        cpKorName = news_result[i]['cpKorName']
        createdAt = news_result[i]['createdAt']
        updatedAt = news_result[i]['updatedAt']
        summary = news_result[i]['summary']
        imageUrl = news_result[i]['imageUrl']
        
        result.append(dict((name, eval(name)) for name in [
            "code",
            "newsId",
            "title",
            "keywords",
            "cpKorName",
            "createdAt",
            "updatedAt",
            "summary",
            "imageUrl",
         ]))

    # 스크래핑 기준에 맞추어 1초마다 데이터 가져오기
    sleep(1)

print(result[:10])

A015760 100
[{'code': 'A015760', 'newsId': 'aM6WAAsjg8', 'title': '이재광 "정책수단 총동원해 中企 일감 늘릴 것"', 'keywords': ['이재광', '중소기업', '최저임금', '중기중앙회', 'd'], 'cpKorName': '서울경제', 'createdAt': '2019-02-13 17:02:43', 'updatedAt': '2019-02-13 17:02:43', 'summary': '[서울경제] “현재 상황에서는 중소기업들이 (적당한 이윤을 내면서) 할 수 있는 일감 자체가 없습니다. 중소기업이 지속 성장할 수 있는 일거리를 인위적으로라도 만들어야 합니다.” 제26대 중소기업중앙회장 선거에 나선 기호 4번 이재광(60·사진) 후보는 13일 서울경제신문과 만나 “근로자 88%가 중소기업에 다닌다. 중소기업 일거리가 있어야 국가에 일자리', 'imageUrl': 'https://t1.daumcdn.net/news/201902/13/seouleconomy/20190213170243974zyvf.jpg'}, {'code': 'A015760', 'newsId': 'aGimJkvICt', 'title': "코스피 4일만에 2200선 재진입..기관 이틀째 '사자'", 'keywords': ['코스피', '지수', 'sk하이닉스', '무역협상', '무역분쟁'], 'cpKorName': '헤럴드경제', 'createdAt': '2019-02-13 16:50:54', 'updatedAt': '2019-02-13 16:50:54', 'summary': '무역분쟁 우려 완화, 美 증시 훈풍 영향삼성전자, SK하이닉스 사흘째 오름세코스닥 외인ㆍ기관 매수에 740선 목전[헤럴드경제=김현일 기자] 코스피 지수가 기관투자가의 순매수에 힘입어 4거래일 만에 2200선을 넘어서며 마감했다. 13일 코스피 지수는 전날보다 11.01포인트(0.5%) 오른 2201.48로 장을 마감했다. 개인과 외국인은 각각 1260억원', 'imageUrl': 'https://t1.daumcdn.net/news/201902/13/ned/20190213165054718qlsg.jpg'}, {'code': 'A015760', 'newsId': 'aG5n1UMhUF', 'title': '코스피, 미중 무역협상 기대에 2200선 회복..코스닥, 작년 10월 이후 최고치', 'keywords': ['코스피', '무역협상', '코스닥', '종가', '지수'], 'cpKorName': '디지털타임스', 'createdAt': '2019-02-13 16:17:36', 'updatedAt': '2019-02-13 16:21:30', 'summary': '[디지털타임스 김민주 기자] 코스피가 미중 무역협상 기대감에 2200선을 회복했다. 13일 코스피는 전 거래일보다 11.01포인트(0.50%) 오른 2201.48에 거래를 마쳤다. 이로써 종가 기준으로 지난 7일의 2203.42 이후 4거래일 만에 2200선을 탈환했다. 지수는 전장보다 9.53포인트(0.44%) 오른 2200에서 출발해 강세를 지속했다.', 'imageUrl': 'https://t1.daumcdn.net/news/201902/13/dt/20190213161736302henp.jpg'}, {'code': 'A015760', 'newsId': 'a25heBWYkz', 'title': '코스피, 무역협상 기대감에 상승..4거래일만에 2200선 탈환', 'keywords': ['코스피', '무역협상', '종가', '지수', '코스닥'], 'cpKorName': '서울경제', 'createdAt': '2019-02-13 16:04:42', 'updatedAt': '2019-02-13 16:04:42', 'summary': '[서울경제] 코스피가 13일 미중 무역협상 기대감에 사흘째 올라 2,200선을 회복했다. 이날 코스피는 전 거래일보다 11.01포인트(0.50%) 오른 2,201.48에 거래를 마쳤다. 이로써 종가 기준으로 지난 7일의 2,203.42 이후 4거래일 만에 2,200선을 탈환했다. 지수는 전장보다 9.53포인트(0.44%) 오른 2,200.00에서 출발해', 'imageUrl': 'https://t1.daumcdn.net/news/201902/13/seouleconomy/20190213160442809pwbz.jpg'}, {'code': 'A015760', 'newsId': 'aiIIkKuFDr', 'title': '코스피 사흘째 올라 2,200선 회복..코스닥 1%대 상승(종합2보)', 'keywords': ['코스피', '코스닥', '서울', '무역협상', '종가'], 'cpKorName': '연합뉴스', 'createdAt': '2019-02-13 16:03:42', 'updatedAt': '2019-02-13 16:03:42', 'summary': '(서울=연합뉴스) 임미나 기자 = 코스피가 13일 미중 무역협상 기대감에 사흘째 올라 2,200선을 회복했다. 이날 코스피는 전 거래일보다 11.01포인트(0.50%) 오른 2,201.48에 거래를 마쳤다. 이로써 종가 기준으로 지난 7일의 2,203.42 이후 4거래일 만에 2,200선을 탈환했다. 지수는 전장보다 9.53포인트(0.44%) 오른 2,20', 'imageUrl': 'https://t1.daumcdn.net/news/201902/13/yonhap/20190213160342967dywu.jpg'}, {'code': 'A015760', 'newsId': 'a6E6xFkXX7', 'title': '[fn마감시황]기관·금투·연기금 매수에 2200선 사수', 'keywords': ['코스피', '지수', '시가총액', '삼성전자', 'sk하이닉스'], 'cpKorName': '파이낸셜뉴스', 'createdAt': '2019-02-13 15:53:39', 'updatedAt': '2019-02-13 15:53:39', 'summary': '코스피가 기관·금투·연기금 매수에 2200선을 사수했다. 13일 코스피는 전거래일 대비 11.01포인트(0.50%) 오른 2201.48에 마감했다. 이날 코스피는 전거래일 대비 9.53포인트 오른 2200.00으로 출발했다. 장중 2100선으로 밀려나기도 했다. 개인, 외국인은 각각 1254억원, 307억원을 순매도했다. 하지만 기관, 금융투자, 연', 'imageUrl': None}, {'code': 'A015760', 'newsId': 'am4015xSbc', 'title': "[마감] 코스피, 미국발 호재에 2200선 '재탈환'", 'keywords': ['코스피', '미국', '셧다운', '여야', '중국'], 'cpKorName': '아이뉴스24', 'createdAt': '2019-02-13 15:47:47', 'updatedAt': '2019-02-13 15:47:47', 'summary': '[아이뉴스24 김다운 기자] 코스피지수가 미국발 호재에 힘입어 4거래일 만에 다시 2200선을 탈환했다. 13일 코스피는 전날보다 0.50%(11.01포인트) 오른 2201.48로 장을 마쳤다. 미국 여야가 연방정부 셧다운(일시적 업무중지)을 막기 위한 국경예산 방안에 잠정적으로 합의하면서 뉴욕증시는 12일(현지시간) 1% 이상 상승 마감했다. 미국과 중국', 'imageUrl': 'https://t1.daumcdn.net/news/201902/13/inews24/20190213154748030qgfk.jpg'}, {'code': 'A015760', 'newsId': 'apRYyRQERT', 'title': '코스피 사흘째 올라 2,200선 회복..코스닥 1%대 상승(종합)', 'keywords': ['코스피', '코스닥', '무역협상', '종가', '지수'], 'cpKorName': '연합뉴스', 'createdAt': '2019-02-13 15:46:58', 'updatedAt': '2019-02-13 15:46:58', 'summary': '(서울=연합뉴스) 임미나 기자 = 코스피가 13일 미중 무역협상 기대감에 사흘째 올라 2,200선을 회복했다. 이날 코스피는 전 거래일보다 11.01포인트(0.50%) 오른 2,201.48에 거래를 마쳤다. 이로써 종가 기준으로 지난 7일의 2,203.42 이후 4거래일 만에 2,200선을 탈환했다. 지수는 전장보다 9.53포인트(0.44%) 오른 2,20', 'imageUrl': 'https://t1.daumcdn.net/news/201902/13/yonhap/20190213154658520hmgg.jpg'}, {'code': 'A015760', 'newsId': 'alcg6hlKtp', 'title': '[시황종합] 코스피, 미·중 무역협상 기대감에 2200선 회복', 'keywords': ['코스피', '무역협상', '코스닥', '달러', '환율'], 'cpKorName': '뉴스1', 'createdAt': '2019-02-13 15:46:20', 'updatedAt': '2019-02-13 15:46:20', 'summary': '(서울=뉴스1) 전민 기자 = 코스피가 미국과 중국의 무역협상 기대감에 힘입어 2200선을 회복했다. 코스닥도 1% 이상 상승했다. 13일 코스피는 전날보다 11.01포인트(0.50%) 오른 2201.48에 마감했다. 이날 코스피는 9.53p(0.44%) 오른 2200.00로 기관의 순매수에 힘입어 상승 폭을 키웠다. 코스피 시장에서 이날 기관은 홀로', 'imageUrl': 'https://t1.daumcdn.net/news/201902/13/NEWS1/20190213154620778veai.jpg'}, {'code': 'A015760', 'newsId': 'aO5B5BoaEx', 'title': '[마감 시황] 코스피 전일 대비 11.01p 상승한 2201.48p에 마감', 'keywords': ['코스피', '한국경제tv', '하락', '상장', '보합세'], 'cpKorName': '한국경제TV', 'createdAt': '2019-02-13 15:36:11', 'updatedAt': '2019-02-13 15:36:11', 'summary': '[한국경제TV 라이온봇 기자][코스피 마감 시황]2월 13일 코스피는 전일 대비 11.01p(0.5%) 상승한 2201.48p에 거래를 마감했다.[그림 1] 현재 시각 코스피, 상승 및 하락 종목 수현재 코스피는 전체 상장 종목 중 559개 종목이 상승세를 보였으며, 267개 종목은 하락했다. 72개 종목은 보합세를 나타냈다.규모별로는 대형주(0.42%),', 'imageUrl': 'https://t1.daumcdn.net/news/201902/13/kedtv/20190213153611291kgnu.png'}]

In [12]:
mongo_uri = "mongodb://admin:admin1234@ds021994.mlab.com:21994/mydbinstance"
client = MongoClient(mongo_uri)
db = client.mydbinstance
kospi_collection = db.financekospi

# 데이터 NoSQL 적재
kospi_collection.insert_many(result)

# 최종 데이터 확인
query = {
}

list(kospi_collection.find(query, {'_id': 0, 'title': 1, 'keywords': 1, 'createdAt': 1}))[:10]

[{'title': "한국전력기술 '부패방지 시책평가' 최우수",
  'keywords': ['시책평가', '한전기술', '공공기관', '2018년', '국민권익위원회'],
  'createdAt': '2019-02-03 06:00:47'},
 {'title': '"일회용 컵 NO" 김종갑 한전사장 \'플라스틱 프리 챌린지\'에 동참',
  'keywords': ['김종갑', '일회용컵', '한전사장', '김영록', '전남지사'],
  'createdAt': '2019-02-02 11:46:24'},
 {'title': '국민연금, 대한항공 경영 참여하려면 100억 토해내야',
  'keywords': ['경영', '100억', '한진칼', '행사', '국민연금지분율'],
  'createdAt': '2019-02-02 03:09:55'},
 {'title': '코스피, 개인·기관 매도 공세에 하락 마감',
  'keywords': ['코스피', '하락', '무역협상', '중국', '지수'],
  'createdAt': '2019-02-01 16:15:00'},
 {'title': '[코스피 마감]외국인 러브콜에도 2거래일째 약보합',
  'keywords': ['코스피', '하락', '지수', '마켓포인트', '미국'],
  'createdAt': '2019-02-01 15:47:50'},
 {'title': '[마감 시황] 코스피 전일 대비 1.39p 하락한 2203.46p에 마감',
  'keywords': ['코스피', '하락', '보합세', '하락세', '한국경제tv'],
  'createdAt': '2019-02-01 15:35:53'},
 {'title': '[이 시각 코스피] 코스피 현재 2205.93p 상승세 지속',
  'keywords': ['코스피', '보이', '하락', '보합세', '하락세'],
  'createdAt': '2019-02-01 14:01:01'},
 {'title': '중소기업계 "중소기업 전용 전기요금제 마련 촉구"',
  'keywords': ['중소기업', '중기중앙회', '전기요금', '요금제', '산업용전기요금'],
  'createdAt': '2019-02-07 12:00:06'},
 {'title': '중기업계 "中企 전용 전기요금제 마련돼야" 촉구',
  'keywords': ['중소기업', '요금제', '전기요금', '조정', '한국전력'],
  'createdAt': '2019-02-07 11:59:18'},
 {'title': '숨고르기에 들어갔나..코스피, 보합권 등락',
  'keywords': ['코스피', '하락', '보이', '시가총액', '혼조세'],
  'createdAt': '2019-02-07 11:34:24'}]

### Q3-2
위(mLab Collection)에서 종목별 각 뉴스들의 키워드(`"code"`, `"news"`)를 가져오세요.

`Requirements: json, pymongo`

ex)
```python
python
quotes=[
    {'code': 'A005930',
     'news': [{'keywords': ['게임주', '증시테마', '동반', '인공강우', '중국']},
          {'keywords': ['5g', '4차산업혁명', '5g스마트폰', '애플', '화웨이']},
          {'keywords': ['스마트폰', 'mwc', '폴더블폰', '갤럭시s10', '삼성전자']},
          {'keywords': ['sk하이닉스', '상반기', '어닝쇼크', '삼성전자', 'd램']},
          {'keywords': ['전자업계', '중국', '삼성전자', '삼성', '아시아경제']},
          {'keywords': ['엑스레이', '후지필름', '2017년', '매출액', '유럽']},
          {'keywords': ['삼성전자', '손', 'ssd', '삼성ssd', '게임']},
          {'keywords': ['카풀', '택시업계', '택시', '신현상', '갈등']},
          {'keywords': ['조선업계', '자동차', '수주', '중국', '미국']},
          {'keywords': ['코스닥', '지수', '증시', '바이코리아', '코스피']},
          {'keywords': ['삼성', '스마트팩토리', '경제적자유', '삼성전자', '전문가']},
          {'keywords': ['펀드수익률', '수익률', '금리', '지수', '미국']},
          {'keywords': ['바이코리아', '수익률', '성과', '삼성전자', 'sk하이닉스']},
          {'keywords': ['남북경협', '주식시장', '남북경협주', '대기업', '증시']},
          {'keywords': ['에어컨', 'ai', 'lg', '삼성', '위니아']},
          {'keywords': ['폴더블폰', '스마트폰', '삼성', '다음', '삼성전자']},
          {'keywords': ['sk하이닉스', '적자', '환골탈태', '빅딜', '하이닉스']},
          {'keywords': ['중견련', '사내벤처', '연임', 'ces2019', '삼성전자']},
          {'keywords': ['코스피', '지수', '종가', '미국', '무역협상']},
          {'keywords': ['삼성sdi', '기업공시', '삼성전자', '인수', '삼성중공업']}]
    },
...
]
```

In [9]:
#Q3-2
mongo_uri = "mongodb://admin:admin1234@ds021994.mlab.com:21994/mydbinstance"
client = MongoClient(mongo_uri)
db = client.mydbinstance
kospi_collection = db.financekospi

query = {
    
}

query_result = list(kospi_collection.find(query, {'_id': 0, 'code': 1, 'keywords': 1}))
query_result[:5]

[{'code': 'A015760', 'keywords': ['시책평가', '한전기술', '공공기관', '2018년', '국민권익위원회']},
 {'code': 'A015760', 'keywords': ['김종갑', '일회용컵', '한전사장', '김영록', '전남지사']},
 {'code': 'A015760', 'keywords': ['경영', '100억', '한진칼', '행사', '국민연금지분율']},
 {'code': 'A015760', 'keywords': ['코스피', '하락', '무역협상', '중국', '지수']},
 {'code': 'A015760', 'keywords': ['코스피', '하락', '지수', '마켓포인트', '미국']}]

## Q3-3
불러온 quotes에 대하여 상위 30개 종목 별 keyword 리스트의 갯수를 구하세요.
그리고, 키워드 별 출현 갯수를 카운트하여 dictionary에 저장하여 보여주세요

hint: 

```python
len_count = {}
for i in map(len, a_words):
	if i in len_count:
		len_count[i] += 1
	else:
		len_count[i] = 1
```

In [120]:
#Q3-3
result = {}

for i in range(len(query_result)):
    result[query_result[i]['code']] = result.get(query_result[i]['code'], 0) + len(query_result[i]['keywords'])
    
result

{'A015760': 500,
 'A051910': 492,
 'A028260': 487,
 'A068270': 483,
 'A005380': 496,
 'A207940': 490,
 'A005490': 494,
 'A005930': 499,
 'A000660': 485,
 'A005935': 465}